Repository eirki/trek-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mypy, relint, flake8, pip-compile

.pre-commit-config.yaml:

default_language_version:
  python: python3.7

repos:
  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint
  - repo: https://github.com/IamTheFij/docker-pre-commit
    rev: v1.0.1
    hooks:
      - id: docker-compose-check
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort --apply
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
      - id: relint
        name: relint
        entry: relint **
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: pip-compile
        name: pip-compile
        entry: pip-compile
        files: ^requirements\.(in|txt)$
        language: system

Add location and route endpoints
  trek/env.py
  trek/location.py
  trek/route.py
  trek/utils.py
Due: isort, black, mypy, relint, flake8

Add docker files
  Dockerfile
  docker-compose.yml
Due: none

Add push script
  push.sh
Due: none

Start adding trek crud methods
  .pdbrc
  .pre-commit-config.yaml
  docker-compose.yml
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
  sql/trek.sql
  tests/conftest.py
  tests/test_trek.py
  trek/database.py
  trek/env.py
  trek/main.py
  trek/trek.py
Due: isort, black, mypy, relint, flake8, pip-compile

Finish adding crud methods
  requirements-dev.in
  requirements-dev.txt
  sql/crud.sql
  sql/trek.sql
  sql/user.sql
  tests/conftest.py
  tests/test_crud.py
  tests/test_trek.py
  trek/crud.py
  trek/main.py
  trek/trek.py
Due: isort, black, mypy, relint, flake8

Fix some docker config
  Dockerfile
  docker-compose.yml
Due: none

Add basic crud functions for user management
  sql/user.sql
  tests/conftest.py
  tests/test_crud.py
  tests/test_user.py
  trek/database.py
  trek/main.py
  trek/user.py
Due: isort, black, mypy, relint, flake8

Use openrouteservice instead of graphhopper and geopy
  requirements.in
  requirements.txt
  trek/location.py
  trek/main.py
  trek/route.py
  trek/search.py
Due: isort, black, mypy, relint, flake8, pip-compile

Add trackers
  .pre-commit-config.yaml
  requirements.in
  requirements.txt
  sql/trackers.sql
  sql/user.sql
  tests/conftest.py
  tests/test_crud.py
  tests/test_fitbit.py
  trek/config.py
  trek/crud.py
  trek/database.py
  trek/main.py
  trek/trackers/__init__.py
  trek/trackers/_tracker_utils.py
  trek/trackers/fitbit_.py
  trek/trackers/withings.py
  trek/user.py
Due: isort, black, mypy, relint, flake8, pip-compile

Add migrations
  .env.local
  sql/migrations.sql
  trek/__main__.py
  trek/database.py
Due: isort, black, mypy, relint, flake8

Misc changes
  Dockerfile
  Makefile
  push.sh
  requirements-dev.txt
  sql/crud.sql
Due: none

Add reference frontend
  frontend/home.html
  frontend/login.html
  sql/migrations.sql
  sql/trackers.sql
  sql/user.sql
  trek/frontend.py
  trek/main.py
  trek/trackers/fitbit_.py
  trek/trackers/withings.py
  trek/user.py
  trek/utils.py
Due: isort, black, mypy, relint, flake8

Add search endpoints to reference frontend
  frontend/newtrek.html
  sql/crud.sql
  sql/user.sql
  tests/conftest.py
  tests/test_crud.py
  tests/test_fitbit.py
  tests/test_user.py
  trek/crud.py
  trek/frontend.py
  trek/main.py
  trek/search.py
  trek/trackers/__init__.py
  trek/trackers/fitbit_.py
  trek/trackers/withings.py
  trek/user.py
Due: isort, black, mypy, relint, flake8

Add logic for invites and add_leg
  frontend/authorize.js
  frontend/home.html
  frontend/index.html
  frontend/index.js
  frontend/join.html
  frontend/login.html
  frontend/newtrek.html
  frontend/newtrek.js
  frontend/trek.html
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
  sql/crud.sql
  sql/migrations.sql
  tests/conftest.py
  tests/test_crud.py
  trek/config.py
  trek/crud.py
  trek/frontend.py
  trek/main.py
  trek/trackers/fitbit_.py
  trek/trackers/withings.py
  trek/user.py
Due: isort, black, mypy, relint, flake8, pip-compile

Replace Makefile with justfile
  .coveragerc
  .gitignore
  Makefile
  justfile
  push.sh
  requirements-dev.txt
Due: none

Database connection fixes
  trek/trackers/fitbit_.py
  trek/trackers/withings.py
Due: isort, black, mypy, relint, flake8

Include sample frontend in dockerfile
  Dockerfile
Due: none

Update migrations
  sql/migrations.sql
Due: none

Change authorization
  trek/crud.py
  trek/main.py
  trek/search.py
  trek/user.py
Due: isort, black, mypy, relint, flake8

Update test config
  .coveragerc
  pytest.ini
Due: none

Update justfile
  justfile
Due: none

Return proper error for /search
  trek/search.py
Due: isort, black, mypy, relint, flake8

Add CORS handling
  trek/main.py
Due: isort, black, mypy, relint, flake8

Update local env override
  .env.local
Due: none

Add address to CORS
  trek/main.py
Due: isort, black, mypy, relint, flake8

Update CORS address
  trek/main.py
Due: isort, black, mypy, relint, flake8

Update CORS address again
  trek/main.py
Due: isort, black, mypy, relint, flake8

Store tracker tokens in db as text not json
  sql/migrations.sql
  sql/trackers.sql
  tests/conftest.py
  tests/test_fitbit.py
  trek/database.py
  trek/main.py
  trek/trackers/fitbit_.py
  trek/trackers/withings.py
  trek/user.py
Due: isort, black, mypy, relint, flake8

Fix vue fragment tripping up redirect url
  trek/user.py
Due: isort, black, mypy, relint, flake8

Rename container
  docker-compose.yml
Due: none

Add is_authenticated endpoint
  tests/conftest.py
  tests/test_user.py
  trek/user.py
Due: isort, black, mypy, relint, flake8

Update tasks
  justfile
Due: none

Update justfile
  .gitignore
  Dockerfile
  docker-compose.yml
  justfile
Due: none

Add test for add_user
  tests/test_user.py
Due: isort, black, mypy, relint, flake8

Add response for add_leg
  trek/crud.py
Due: isort, black, mypy, relint, flake8

Add some pragmas
  trek/main.py
Due: isort, black, mypy, relint, flake8

Abandoned wip
  .sqlfluff
  justfile
  pyproject.toml
  requirements-dev.txt
  requirements.in
  requirements.txt
  sql/activity.sql
  sql/crud.sql
  sql/migrations.sql
  sql/progress.sql
  tests/__init__.py
  tests/conftest.py
  tests/test_crud.py
  tests/test_fitbit.py
  tests/test_progress.py
  tests/test_user.py
  trek/__main__.py
  trek/crud.py
  trek/database.py
  trek/main.py
  trek/output/__init__.py
  trek/output/main.py
  trek/output/slack.py
  trek/progress/__init__.py
  trek/progress/achievements.py
  trek/progress/activity.py
  trek/progress/factoids.py
  trek/progress/location_apis.py
  trek/progress/main.py
  trek/progress/mapping.py
  trek/progress/progress_utils.py
  trek/trackers/_tracker_utils.py
  trek/trackers/fitbit_.py
  trek/trackers/tracker_utils.py
  trek/trackers/withings.py
  trek/user.py
Due: isort, black, mypy, relint, flake8, pip-compile

Set output redirect url in config
  .env.local
  trek/api/output.py
  trek/config.py
Due: isort, black, mypy, relint, flake8

Various bug fixes
  Dockerfile
  tests/test_achievements.py
  tests/test_progress.py
  trek/core/output/discord.py
  trek/core/progress/achievements.py
  trek/core/progress/progress.py
  trek/models.py
Due: isort, black, mypy, relint, flake8
